<!DOCTYPE html>
<html>
  <head>
    <title>MediSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%# Navbar %>
    <%= render 'shared/navbar' %>
    
    <%# Alert/Notice %>
    <div class="mx-5 my-2">
    <% if notice %>
      <p class="notice alert alert-success">
        <%= flash.now[:notice] %>
      </p>
    <% end %>
    <% if alert %>
      <p class="notice alert alert-success">
        <%= flash.now[:alert] %>
      </p>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
